.header-wrapper{
    position: fixed;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px 0;
    top: 0;
    left: 0;
    cursor: pointer;
}

.flexation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}